.scrollbar-left {
    scrollbar-width: thin;
    scrollbar-color: #4B5563 #E5E7EB;
  }
  
  .scrollbar-left::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-left::-webkit-scrollbar-track {
    background: #E5E7EB;
  }
  
  .scrollbar-left::-webkit-scrollbar-thumb {
    background-color: #4B5563;
    border-radius: 20px;
    border: 3px solid #E5E7EB;
  }
  
  /* Hide default scrollbar */
  .scrollbar-left {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  
  .scrollbar-left::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
  
  