*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  /* color: #f3ebff; */
}

/* scrollslider */
.progress-bar {
  transform-origin: 0%;
  background: #112c1d;
}


/* pre-login-menubar */
nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  /* background: #262b15; */
  background: #0b61ca;
  color: aliceblue;
}

.menu_toggle_button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 28px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.headline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 10vw;
}

.inset {
  position: absolute;
  inset: 0;
}
.white {
  color: white;
}
.gray {
  color: #446;
}

.full {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}


.Pre_login_homepage_content{
  background-image: url("./assets/pexels-ofir-eliav-2397652-6938309.jpg");
  background-size: cover;
}

.loginform{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.1px);
-webkit-backdrop-filter: blur(7.1px);
border: 0px solid rgba(255, 255, 255, 0.99);
}

.loginpagebackground{
  background-size: cover;
  background-position: center;
  animation: image 30s infinite alternate;
  object-fit: cover;
 
}

@keyframes image {
  0% {
    background-image: url("../src/assets/IND/Image1.jpg");
  }
  20% {
    background-image: url("../src/assets/IND/image2.jpg");

  }
  40% {
    background-image: url("../src/assets/IND/image3.jpg");

  }
  60% {
    background-image: url("../src/assets/IND/image4.jpg");

  }
  80% {
    background-image: url("../src/assets/IND/image5.jpg");
  }
  100% {
    background-image: url("../src/assets/IND/image6.jpg");
  }
}



/* 
18392b
dad7cd
14452f
#b5eedf

#001b2e
#1d3f58
#537692
#b3cde4
#eef3f9

#262b15
#3f3f3f
#464b37
#848871
#afb4ad



#112c1d used in slider
#496729
#507d7a
#94c48a
#b5eedf */