*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  /* color: #f3ebff; */
}

*::selection{
  background-color: #000;
  color: #fff;
}

/* scrollslider */
.progress-bar {
  transform-origin: 0%;
  background: #112c1d;
}



/* pre-login-menubar */
nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  /* background: #262b15; */
  background: #233115;
  color: #EADED0;
}

.menu_toggle_button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 28px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.headline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 10vw;
}

.inset {
  position: absolute;
  inset: 0;
}
.white {
  color: #EADED0;
}
.gray {
  color: #446;
}

.full {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}


.Pre_login_homepage_content{
  background-image: url("./assets/pexels-ofir-eliav-2397652-6938309.jpg");
  background-size: cover;
}

.loginform{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.1px);
-webkit-backdrop-filter: blur(7.1px);
border: 0px solid rgba(255, 255, 255, 0.99);
}

.loginpagebackground{
  background-size: cover;
  background-position: center;
  animation: image 30s infinite alternate;
 
}

@keyframes image {
  0% {
    background-image: url("../src/assets/IND/Image1.jpg");
  }
  20% {
    background-image: url("../src/assets/IND/image2.jpg");

  }
  40% {
    background-image: url("../src/assets/IND/image3.jpg");

  }
  60% {
    background-image: url("../src/assets/IND/image4.jpg");

  }
  80% {
    background-image: url("../src/assets/IND/image5.jpg");
  }
  100% {
    background-image: url("../src/assets/IND/image6.jpg");
  }
}



/* 
18392b
dad7cd
14452f
#b5eedf

#001b2e
#1d3f58
#537692
#b3cde4
#eef3f9

#262b15
#3f3f3f
#464b37
#848871
#afb4ad



#112c1d used in slider
#496729
#507d7a
#94c48a
#b5eedf */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
.carousel {
  border-radius: 0 0 3rem 3rem;
  transition: all 2s;
  box-shadow: 0 5px 40px  black; /* Adds a 5px black shadow at the bottom */
  /* border-bottom: 5px solid black; Adds a 5px black border at the bottom */
}


.carousel .list .item{
  transition: all 2s ease-in-out;
}

.carousel .list .item .author {
    letter-spacing: 10px;
    transition: all 2s ease-in-out;
}

.carousel .list .item .title,
.carousel .list .item .topic {
    line-height: 1.3em;
    transition: all 2s ease-in-out;
}

.carousel .list .item .buttons {
    /* display: grid; */
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
    transition: all 2s ease-in-out;
}

.carousel .list .item .buttons button {
    border: none;
    letter-spacing: 3px;
    transition: all 2s ease-in-out;
}

.carousel .list .item .buttons button:hover {
    background-color: transparent;
    border: 1px solid #EADED0;
    color: #EADED0;
}

/* Thumbnail styles */
.thumbnail {
    width: max-content;
    overflow: hidden;
    padding: 10px;
}

.thumbnail .item{
  transition: all 1s;
  /* transform: translateX(-300px); */
  box-shadow: -5px -5px 20px black;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Arrows styles */
.arrows {
    z-index: 2;
    width: 300px;
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows button {
    /* background-color: rgba(67, 62, 62, 0.614); */
    background-color: #000;
    border: none;
    color: #EADED0;
    font-family: monospace;
    transition: .5s;
}

.arrows button:hover {
    background-color: #EADED0;
    color: #000;
}

.BlogsLanding{
  background-image: url("../public//assets/BlogsTemplate.jpg");
  background-size: cover;
}

.text-stroke {
  -webkit-text-stroke: 1px black;
}

.scaleImage {
  transition: all 0.5s;
  transform: scaleZ(1.1);
}


/* Custom scrollbar styling */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Customize as needed */
  border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #edf2f7; /* Customize as needed */
}

